
@import "reset";
@import "library";


$primary_font: 'Pathway Gothic One', sans-serif;
$secondary_font: 'Quattrocento Sans', sans-serif;

$max-width: 1200px;
$gutter: 20px;
$col-count: 12;
$gutter-count: $col-count - 1;
// 11
$total-gutter-width: $gutter-count * $gutter;
// 220

$col-width: ($max-width - $total-gutter-width) / $col-count;


%cart {
	background-color: black;
	color: white;
	margin: 10px 0px;
	padding: 20px 10px;
}

// GENERAL

body {
	font-family: $secondary_font;
	font-size: 0px;
}

.container {
	max-width: $max-width;
	margin: 0 auto;
	position: relative;
}



// HEADER

	header {
		background-color: black;
		color: white;
		font-size: 0px;

		h2 {
			@include columnify(4);
			font-size: 24px;
			padding: 20px 0px;
			padding-left: 10px;
			letter-spacing: 3px;
			display: inline-block;
		}

		nav {
			display: inline-block;
			font-size: 0px;


			ul {

				&.navbar {
					background-color: black;
					color: white;
					font-size: 18px;
					font-weight: bold;
					text-align: left;

					li {

						&.nav-text {
							@include columnify(2);
							margin-right: $gutter;
							display: inline-block;
							letter-spacing: 3px;

							&:nth-of-type(4n) {
								margin-right: 0px;
							}
						}
					}
				}
			}
		}
	}



// SHOW PAGE

div {
	img {
		&.product-display {
			@include columnify(4);
			@include shadows;
			margin-top: 40px;
			margin-right: $gutter;
		}
	}
}



section {

	&.product-info {
		font-size: 0px;
		@include columnify(5);
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-top: 40px;
		margin-right: $gutter;


		h2 {
			&.product-name-header {
				font-size: 52px;
				font-weight: bold;
				display: inline-block;
			}
		}

		p {
			&.item-number {
				display: inline-block;
				padding-left: 20px;
			}

			&.product-description {
				margin-top: 15px;
				padding-bottom: 90px;
				font-size: 18px;
				line-height: 1.4;
			}

			&.product-cost {
				position: absolute;
				right: 0px;
				bottom: 10px;
				display: inline-block;
				font-size: 36px;
			}
		}

		a {
			&.add-to-cart-btn {
				position: absolute;
				left: 0px;
				bottom: 10px;
				background-color: black;
				color: #fff;
				text-decoration: none;
				text-align: center;
				padding: 15px 20px;
				font-size: 20px;
			}
		}
	}

	&.cart-preview {
		@extend %cart;
		@include columnify(3);
		display: inline-block;
		vertical-align: top;
		margin-top: 40px;

		h3 {
			font-size: 22px;
			text-align: center;
			border-bottom: 1px dotted #fff;
			margin-bottom: 15px;
		}

		ul {

			li {
				margin-top: 10px;
				position: relative;

 				img {
 					max-width: 40px;
 					margin-right: 5px;
 				}


				p {
					display: inline-block;
					vertical-align: top;
					font-size: 20px;
					margin-top: 10px;
				}

				b {
					font-size: 20px;
					position: absolute;
					top: 10px;
					right: 5px;
				}
			}
		}

		strong {
			font-size: 25px;
			text-align: right;
			display: block;
			margin-top: 20px;
			font-weight: bold;
		}

		button {
			width: 100%;
			margin-top: 20px;
			font-size: 25px;
			color: #fff;
			background-color: black;
			border-color: #fff;
		}
	}

	&.related-items {

		margin-top: 50px;

		h2 {
			font-size: 30px;
			padding-bottom: 20px;
		}

		div {
			&.product-tile {
				@include six-col-product-tiles;
			}
		}
	}
}


// CATALOG PAGE

div {

	&.catalog {
		position: relative;

		h2 {
			@include columnify(4);
			font-size: 70px;
			font-weight: bold;
			padding-top: 20px;
		}

		div {
			&.mycart {
				@include columnify(2);
				@extend %cart;
				position: absolute;
				top: 0px;
				right: 0px;
				text-align: center;

				h3 {
					font-size: 20px;
				}

				.subline {
					font-size: 16px;
				}

				&.droppable {
					background-color: pink;
					color: black;
					height: 150px;
				}

			}
		}
	}
}

section {

	&.catalog-grid {

		@include columnify(12);
		margin-top: 20px;
		font-size: 0px;

		div {
			&.product_picture {

				@include six-col-product-tiles;

			}
		}
	}
}


