<div class="catalog">

  <h2>Catalog</h2>

  <div class="mycart">

    <h3>
      <i class="fa fa-shopping-cart"></i>
      Your cart <br>
      <span class="subline">Drag items here.</span>
    </h3>

  </div>

</div>

<section class="catalog-grid">

  <% @products.each do |product| %>

      <div class="product_picture">

          <%= image_tag("/assets/products/#{product.picture}", id: "#{product.id}") %>

          <h3><%= link_to product.name, product_url(product.id) %></h3>

          <p><%= product.cost %> </p>


          <button data="<%= product.id %>">Add to cart</button>

      </div>

  <% end %>

</section>


