<div class="catalog">

  <h2>Catalog</h2>

  <div class="mycart">

    <h3>
      <i class="fa fa-shopping-cart"></i>
      Your cart <br>
      <span class="subline">Drag items here.</span>
    </h3>

  </div>

</div>

<section class="catalog-grid">

  <% @products.each do |product| %>

      <div class="product_picture">

        <%= image_tag("/assets/products/#{product.picture}") %>

        <h3><%= product.name %></h3>

        <p><%= product.cost %> </p>

        <button>Add to cart</button>

      </div>

  <% end %>

</section>

