<!DOCTYPE html>
<html>
<head>
  <title>LightningShop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Quattrocento+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>

<body>

  <div class="container">

    <header>

      <h2>MR. NICE GUY SHOP <i class="fa fa-bolt"></i></h2>

      <nav>
        <ul class="navbar">
          <li class="nav-text">Beer</li>
          <li class="nav-text">Tools</li>
          <li class="nav-text">Books</li>
          <li class="nav-text">Music</li>
        </ul>
      </nav>

    </header>

    <%= yield %>


  </div>


</body>
</html>
